
@{
}
<form action="/blog/save" method="post">
<div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" id="id" name="Id" />
    <label class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="Title" />
    <label class="form-label">Author</label>
    <input type="text" class="form-control" id="author" name="Author"  />
</div>

<a href="/blog" class="btn btn-secondary">Back</a>

<button class="btn btn-primary" type="submit">Save</button>
</form>